*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #141414;
    color: white;
}

/* ----- HEADER ----- */

.header{
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #141414;
    border-bottom: 1px solid #2a2a2a;
}

/* ----- TOP NAV ----- */

.top-nav{
    height: 82px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
}

/* ----- LOGO ----- */

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #e50914;
}

.logo i{
    font-size: 30px;
}

.logo h1{
    font-size: 28px;
    font-weight: 700;
}

/* ----- NAV ----- */

.nav-center{
    display: flex;
    align-items: center;
    gap: 42px;
}

.nav-item{
    display: flex;
    align-items: center;
    gap: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #b3b3b3;
}

.nav-item i{
    font-size: 22px;
}

.nav-item span{
    font-size: 14px;
    font-weight: 600;
}

.active-nav{
    color: white;
    border-bottom: 2px solid white;
}

/* ----- RIGHT ----- */

.nav-right{
    display: flex;
    align-items: center;
    gap: 12px;
}

.circle-btn, .menu-btn{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    color: white;
}

/* ----- SEARCH ----- */

.search-wrapper{
    display: flex;
    justify-content: center;
    padding-bottom: 24px;
}

.search-bar{
    width: 850px;
    height: 66px;
    background: #222;
    border: 1px solid #333;
    border-radius: 999px;
    box-shadow: 0 2px 12px rgba(0,0,0,0.08);
    display: flex;
    align-items: center;
    box-shadow: none;
}

.search-box{
    flex: 1;
    padding-left: 30px;
}

.search-box h4{
    font-size: 12px;
    margin-bottom: 4px;
    color: white;
}

.search-box p{
    font-size: 14px;
    color: #b3b3b3;
}

.search-divider{
    width: 1px;
    height: 32px;
    background-color: #444;
}

.search-btn{
    width: 48px;
    height: 48px;
    margin-right: 10px;
    border: none;
    border-radius: 50%;
    background-color: #e50914;
    color: white;
}

/* ----- SECTION ----- */

.movie-section{
    padding: 34px 48px;
    background-color: #141414;
}

.section-header{
    margin-bottom: 24px;
}

.section-header h2{
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 26px;
    color: white;
}

.arrow-circle{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----- MOVIES ----- */

.movie-row{
    display: flex;
    gap: 16px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: 8px;
    width: 100%;
    flex-wrap: nowrap;
}

.movie-row::-webkit-scrollbar{
    display: none;
}

.movie-card{
    flex-shrink: 0;
    width: 200px;
}

.movie-image{
    position: relative;
}

.movie-image img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 18px;
    transition: 0.3s ease;
}

.tag{
    position: absolute;
    top: 12px;
    left: 12px;
    background: white;
    padding: 6px 12px;
    border-radius: 999px;
    font-size: 12px;
    font-weight: 600;
    color: #141414;
}

.heart-toggle{
    display: none;
}

.heart-icon{
    position: absolute;
    top: 14px;
    right: 14px;
    color: white;
    font-size: 20px;
    transition: 0.2s;
}

.heart-icon:hover{
    transform: scale(1.15);
}

.heart-toggle:checked + .heart-icon{
    color: #e50914;
}

.movie-card h3{
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 15px;
    color: white;
}

.movie-card p{
    font-size: 14px;
    color: #b3b3b3;
}

/* ----- FOOTER ----- */

.footer-top{
    padding: 48px;
    background: #111;
    border-top: 1px solid #dddddd;
}

.footer-top h2{
    font-size: 32px;
    margin-bottom: 32px;
}

.footer-tabs{
    display: flex;
    align-items: center;
    gap: 36px;
    padding-bottom: 16px;
    border-bottom: 1px solid #dddddd;
    overflow-x: auto;
}

.footer-tabs span{
    font-size: 15px;
    color: #b3b3b3;
    white-space: nowrap;
}

.footer-tabs .active-tab{
    color: white;
    font-weight: 600;
    padding-bottom: 14px;
    border-bottom: 2px solid white;
}

.footer-links-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 42px;
    padding-top: 36px;
}

.footer-link-item h4{
    font-size: 18px;
    margin-bottom: 6px;
}

.footer-link-item p{
    color: #b3b3b3;
    font-size: 15px;
}

.footer{
    padding: 48px;
    background-color: #111;
    color: white;
}

.footer-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding-bottom: 40px;
}

.footer-column h4{
    margin-bottom: 16px;
    font-size: 15px;
}

.footer-column p{
    margin-bottom: 12px;
    font-size: 14px;
    color: #b3b3b3;
}

.footer-bottom{
    border-top: 1px solid #dddddd;
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-size: 14px;
    color: #b3b3b3;
}

.footer-right{
    display: flex;
    align-items: center;
    gap: 16px;
}

.active-tab{
    color: white;
    border-bottom: 2px solid white;
}

/* ----- RESPONSIVE DESIGN ----- */

/* ----- DESKTOP ----- */

@media screen and (min-width: 1024px){

    .container{
        max-width: 1024px;
        margin: auto;
    }

    .top-nav{
        height: 82px;
        padding: 0 40px;
    }

    .logo-text{
        font-size: 34px;
    }

    .nav-center{
        gap: 44px;
    }

    .search-wrapper{
        padding: 0 40px 30px;
    }

    .search-bar{
        width: 850px;
        height: 66px;
        margin: auto;
    }

    .search-mobile{
        display: none;
    }

    .movie-section{
        padding: 34px 40px;
    }

    .movie-card{
        flex: 0 0 180px;
    }

    .movie-card img{
        height: 180px;
    }

    .movie-title{
        font-size: 16px;
    }

    .mobile-footer-bottom{
        display: none;
    }

}

/* ----- TABLET ----- */

@media screen and (max-width: 1023px){

    .logo h1{
        display: none;
    }

    .container{
        max-width: 768px;
        margin: auto;
    }

    .top-nav{
        padding: 0 24px;
        height: 78px;
    }

    .logo-text{
        font-size: 28px;
    }

    .nav-center{
        gap: 26px;
    }

    .nav-item span{
        font-size: 14px;
    }

    .search-wrapper{
        padding: 0 24px 26px;
    }

    .search-bar{
        width: 100%;
        height: 60px;
    }

    .search-box{
        padding: 0 22px;
    }

    .search-mobile{
        display: none;
    }

    .movie-section{
        padding: 28px 24px;
    }

    .movie-card{
        flex: 0 0 170px;
    }

    .movie-card img{
        height: 145px;
    }

    .movie-title{
        font-size: 15px;
    }

    .section-header h2{
        font-size: 22px;
    }

    .footer-top, .footer{
        padding: 36px 24px;
    }

    .mobile-footer-bottom{
        display: none;
    }

}

/* ----- MOBILE ----- */

@media screen and (max-width: 767px){

    .header{
        display: flex;
        flex-direction: column;
    }
    
    .top-nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
        height: auto;
        padding: 14px 16px 0;
        display: contents;
    }

    .logo{
        display: none;
    }

    .nav-right{
        display: none;
    }

    .search-wrapper{
        width: 100%;
        padding: 0 16px 18px;
        margin-top: 14px;
        order: 1;
    }

    .search-bar{
        width: 100%;
        height: 64px;
        border-radius: 999px;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        box-shadow: 0 2px 12px rgba(0,0,0,0.12);
    }

    .search-box,
    .search-divider,
    .search-btn{
        display: none;
    }

    .search-mobile{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 14px;
        width: 100%;
        color: #141414;
    }

    .search-mobile i{
        font-size: 18px;
    }

    .search-mobile-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .search-mobile-text h4{
        font-size: 15px;
        margin-bottom: 2px;
        font-weight: 600;
    }

    .search-mobile-text p{
        font-size: 13px;
        color: #b3b3b3;
    }

    .nav-center{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 0 12px;
        border-bottom: 1px solid #b3b3b3;
        order: 2;
    }

    .nav-item{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 6px;
        padding-bottom: 10px;
    }

    .nav-item i{
        font-size: 18px;
    }

    .nav-item span{
        font-size: 12px;
        font-weight: 500;
    }

    .movie-section{
        padding: 26px 16px;
    }

    .section-header h2{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-size: 20px;
    }

    .arrow-circle{
        margin-left: auto;
    }

    .movie-card{
        flex: 0 0 220px;
    }

    .movie-card img{
        width: 100%;
        height: 220px;
        object-fit: cover;
        border-radius: 16px;
    }

    .movie-card h3{
        font-size: 15px;
        margin-top: 10px;
    }

    .movie-card p{
        font-size: 13px;
        color: #b3b3b3;
    }

    .footer-top{
        padding: 32px 16px;
    }

    .footer-top h2{
        font-size: 24px;
        line-height: 1.3;
        margin-bottom: 24px;
    }

    .footer-tabs{
        gap: 18px;
        overflow-x: auto;
        padding-bottom: 18px;
    }

    .footer-links-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        padding-top: 26px;
    }

    .footer-link-item h4{
        font-size: 15px;
        margin-bottom: 4px;
    }

    .footer-link-item p{
        font-size: 13px;
        color: #b3b3b3;
    }

    .footer{
        padding: 30px 16px;
    }

    .footer-grid{
        display: grid;
        grid-template-columns: 1fr;
        gap: 26px;
    }

    .footer-column{
        padding-bottom: 18px;
        border-bottom: 1px solid #b3b3b3;
    }

    .footer-bottom{
        display: none;
    }

    .mobile-footer-bottom{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        color: #b3b3b3;
    }

    .footer-right{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 14px;
        padding-bottom: 6px;
    }

    .footer-settings{
        display: flex;
        align-items: center;
        gap: 14px;
    }

    .footer-social{
        display: flex;
        gap: 24px;
        padding-top: 12px;
    }

}
